# Ignore Obsidian configuration files
/.obsidian/

# Ignore attachments and media files
/Attachments/
/Literature Notes/articles/
/**/*.jpg
/**/*.jpeg
/**/*.JPG
/**/*.JPEG

# Ignore json data files
/**/*.json
!/tools/obsidian-md-formatter/package.json
!/tools/obsidian-md-formatter/package-lock.json
!/tools/obsidian-md-formatter/manifest.json
!/tools/obsidian-md-formatter/tsconfig.json
!/tools/obsidian-md-formatter/versions.json
!/tools/miniterm/package.json
!/tools/miniterm/package-lock.json
!/tools/miniterm/manifest.json
!/tools/miniterm/tsconfig.json
/.keep-the-rhythm/
/.vscode/
/.github/
/.claude/

# Ignore tex files in every folders
!/**/*.tex
/**/*.aux
/**/*.log
/**/*.pdf
/**/*.fdb_latexmk
/**/*.fls
/**/*.nav
/**/*.out
/**/*.snm
/**/*.synctex.gz
/**/*.toc

# Ignore MacOS files
/**/.DS_Store

# Ignore simulation codes
/**/__pycache__/
/**/*.npz
/**/requirements.txt
/**/*.png

# Ignore local solver projects
tools/eternal-solitaire-solver/

# Ignore compressed files
/**/*.zip

# Ignore RTK.md
/.RTK.md
