# Ignore Obsidian configuration files
/.obsidian/

# Ignore attachments and media files
/Attachments/

# Ignore json data files
/.keep-the-rhythm/
/.vscode/
/.github/

# Ignore tex files in every folders
/**/*.tex
/**/*.aux
/**/*.log
/**/*.pdf

# Ignore MacOS files
/.DS_Store
