# Ignore Obsidian configuration files
/.obsidian/

# Ignore attachments and media files
/Attachments/
/Literature Notes/articles/

# Ignore json data files
/**/*.json
/.keep-the-rhythm/
/.vscode/
/.github/
/.claude/

# Ignore tex files in every folders
/**/*.tex
/**/*.aux
/**/*.log
/**/*.pdf
/**/*.fdb_latexmk
/**/*.fls
/**/*.nav
/**/*.out
/**/*.snm
/**/*.synctex.gz
/**/*.toc

# Ignore MacOS files
/**/.DS_Store

# Ignore simulation codes
/**/__pycache__/
/**/*.npz
/**/requirements.txt
/**/*.png

# Ignore compressed files
/**/*.zip

# Ignore RTK.md
/.RTK.md
